html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  border: 10em;
  border-color: #2d5a4d;
}

.logo {
  text-align: center;
  background-image: url("../images/two-leaves.svg");
}

.nav {
  text-align: center;
  color: #fff;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  border-color: #2d5a4d;
  background-image: url("../images/leaf-icon.svg");
}

.banner {
  background-image: url("../images/dewy-leaf.jpg");
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
